<mat-card class="container-main">
    <div style="margin: auto;" class="submit-form">
        <form [formGroup]="form">
            <!--<div *ngIf="!submitted"> -->
            <div >
                <div fxLayout="column">
                    <mat-card-header>
                        <h3><strong>Novo Registro de Perda</strong></h3>
                    </mat-card-header>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">

                        <mat-form-field fxFlex="40" class="example-form-field">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="nome" required />
                            <mat-error
                                *ngIf="(form.controls['nome'].hasError('required') && form.controls['nome'].touched) ">
                                Campo necessário!
                            </mat-error>
                            <button mat-button *ngIf="form.controls['nome'].value" matSuffix mat-icon-button
                                aria-label="Clear" (click)="form.controls['nome'].setValue('')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field fxFlex="30" fxLayout="column" fxLayoutGap="20px" fxLayout.xs="column">
                            <mat-label>Email</mat-label>
                            <input type="email" formControlName="email" matInput
                                [email]="true" placeholder="Ex. pat@example.com" required>
                            <mat-error
                                *ngIf="(form.controls['email'].hasError('required') && form.controls['email'].touched) ">
                                Campo necessário!
                            </mat-error>
                            <!-- <mat-error *ngIf="(form.controls['email'].invalid)">
                                Email Inválido!
                            </mat-error> -->
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <mat-label>CPF</mat-label>
                            <input matInput formControlName="cpf" mask="000.000.000-00" placeholder="Ex. 789.456.123-07"
                                required />
                            <mat-error
                                *ngIf="(form.controls['cpf'].hasError('required') && form.controls['cpf'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" fxLayout.xs="column">

                        <mat-form-field fxFlex="35">
                            <mat-label disabled="false">Data da colheita</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="colheitadata"
                                ui-date-mask="DD-MM-YYYY" (blur)="checaVeracidade()" disabled required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker disabled="false"></mat-datepicker>
                            <mat-error
                                *ngIf="(form.controls['colheitadata'].hasError('required') && form.controls['colheitadata'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>Latitude da Localização</mat-label>
                            <input matInput type="text" formControlName="loclat" mask="separator.6"
                                thousandSeparator="," [dropSpecialCharacters]="false" [allowNegativeNumbers]="true"
                                placeholder="Ex. -17.456789" (blur)="checaVeracidade()" required />
                            <mat-error
                                *ngIf="(form.controls['loclat'].hasError('required') && form.controls['loclat'].touched) ">
                                Campo necessário!
                            </mat-error>
                            <mat-error *ngIf="(form.controls['loclat'].hasError('maxlength'))">
                                Entrada Inválida!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>Longitude da Localização</mat-label>
                            <input matInput formControlName="loclng" mask="separator.6" thousandSeparator=","
                                [dropSpecialCharacters]="false" [allowNegativeNumbers]="true"
                                placeholder="Ex. 34.784698" (blur)="checaVeracidade()" required />
                            <mat-error
                                *ngIf="(form.controls['loclng'].hasError('required') && form.controls['loclng'].touched) ">
                                Campo necessário!
                            </mat-error>
                            <mat-error *ngIf="(form.controls['loclng'].hasError('maxlength'))">
                                Entra Inválida!
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" fxLayout.xs="column">
                        <mat-form-field fxFlex="45">
                            <mat-label>Tipo Colheita</mat-label>
                            <mat-select formControlName="colheitatipo" required>
                                <mat-option *ngFor="let colheitatipo of colheitaTipos" [value]="colheitatipo">
                                    {{colheitatipo}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(form.controls['colheitatipo'].hasError('required') && form.controls['colheitatipo'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="45">
                            <mat-label>Evento Ocorrido</mat-label>
                            <mat-select formControlName="eventoocorrido" required>
                                <mat-option *ngFor="let evento of eventos" [value]="evento">
                                    {{evento}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(form.controls['eventoocorrido'].hasError('required') && form.controls['eventoocorrido'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" fxLayout.xs="column"
                    style="margin-right: 20px;">

                    <button class="btn-error" mat-button (click)="newPerda()">Cancelar</button>
                    <button mat-button class="btn" [disabled]="blockRegister" (click)="savePerda()">Salvar</button>
                </div>
            </div>
        </form>
    </div>
    <!-- <div *ngIf="submitted">
        <h4>Registro Adicionado</h4>
        <button mat-button style="background-color: rgba(9,121,52,0.7287289915966386); color: white;"
            (click)="newPerda()">Novo Registro</button>
        <button mat-button style="background-color: rgba(9,121,52,0.7287289915966386); color: white;"
            (click)="routeRegistro()">Ver Perdas</button>
    </div> -->
</mat-card>
