<mat-card style="width: 50%; min-height: 250px; margin: auto;">
    <div style="margin: auto;" class="submit-form">
        <form [formGroup]="form">
            <div *ngIf="!submitted">
                <div fxLayout="column">
                    <mat-card-header><h3><strong>Novo Registro de Perda</strong></h3></mat-card-header>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">

                        <mat-form-field fxFlex="40" class="example-form-field">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="nome" required />
                            <mat-error
                                *ngIf="(form.controls['nome'].hasError('required') && form.controls['nome'].touched) ">
                                Campo necessário!
                            </mat-error>
                            <button mat-button *ngIf="form.controls['nome'].value" matSuffix mat-icon-button
                                aria-label="Clear" (click)="form.controls['nome'].setValue('')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field fxFlex="30" fxLayout="column" fxLayoutGap="20px" fxLayout.xs="column">
                            <mat-label>Email</mat-label>
                            <input type="email" formControlName="email" matInput [errorStateMatcher]="matcher"
                                [email]="true" placeholder="Ex. pat@example.com" required>
                            <mat-error
                                *ngIf="(form.controls['email'].hasError('required') && form.controls['email'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <mat-label>CPF</mat-label>
                            <input matInput formControlName="cpf" mask="000.000.000-00" placeholder="Ex. 789.456.123-07" required />
                            <mat-error
                                *ngIf="(form.controls['cpf'].hasError('required') && form.controls['cpf'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" fxLayout.xs="column">

                        <mat-form-field fxFlex="35">
                            <mat-label disabled="false">Data da colheita</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="colheitaData"
                                ui-date-mask="DD-MM-YYYY" (blur)="checaVeracidade()" disabled required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker disabled="false"></mat-datepicker>
                            <mat-error
                                *ngIf="(form.controls['colheitaData'].hasError('required') && form.controls['colheitaData'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>Latitude da Localização</mat-label>
                            <input matInput type="text" formControlName="latLocalizacao" [patterns]="customPatterns"
                                mask="099.999999" dropSpecialCharacters="false" placeholder="Ex. -17.456789" (blur)="checaVeracidade()" required />
                            <mat-error
                                *ngIf="(form.controls['latLocalizacao'].hasError('required') && form.controls['latLocalizacao'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>Longitude da Localização</mat-label>
                            <input matInput formControlName="lngLocalizacao" [patterns]="customPatterns"
                                mask="099.999999" dropSpecialCharacters="false" placeholder="Ex. +34.784698" (blur)="checaVeracidade()" required />
                            <mat-error
                                *ngIf="(form.controls['lngLocalizacao'].hasError('required') && form.controls['lngLocalizacao'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" fxLayout.xs="column">
                        <mat-form-field fxFlex="45">
                            <mat-label>Tipo Colheita</mat-label>
                            <mat-select formControlName="colheitaTipo" required>
                                <mat-option *ngFor="let colheitaTipo of colheitaTipos" [value]="colheitaTipo">
                                    {{colheitaTipo}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(form.controls['colheitaTipo'].hasError('required') && form.controls['colheitaTipo'].touched) ">
                                Campo necessário!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="45">
                            <mat-label>Evento Ocorrido</mat-label>
                            <mat-select formControlName="eventoOcorrido" required>
                                <mat-option *ngFor="let evento of eventos" [value]="evento">
                                    {{evento}}
                                </mat-option>
                            </mat-select>
                                <mat-error
                                    *ngIf="(form.controls['eventoOcorrido'].hasError('required') && form.controls['eventoOcorrido'].touched) ">
                                    Campo necessário!
                                </mat-error>
                        </mat-form-field>
                        
                    </div>
                </div>
            </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" fxLayout.xs="column" style="margin-right: 20px;">

        <button mat-button (click)="newPerda()">Cancelar</button>
        <button mat-button class="btn" [disabled]="blockRegister"
                            (click)="savePerda()">Salvar</button>
        </div>
    </div>
    <div *ngIf="submitted">
        <h4>Registro Adicionado</h4>
        <button mat-button style="background-color: rgba(9,121,52,0.7287289915966386); color: white;"
                            (click)="newPerda()">Novo Registro</button>
        <button mat-button style="background-color: rgba(9,121,52,0.7287289915966386); color: white;"
                            (click)="savePerda()">Ver Perdas</button>
    </div>
</mat-card>