<h1 mat-dialog-title> <strong>Tem certeza que quer apagar o registro?</strong></h1>
<!-- <div mat-dialog-content>Existem Campos Inválidos</div> -->
<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-button [mat-dialog-close]="true" style="background-color: 
  rgba(9,121,52,0.7287289915966386); color: 
  white;">Sim</button>
  <button class="btn-error" mat-button [mat-dialog-close] = "false">Não</button>
</div>