:root {
    --primary: hsla(135, 70%, 45%, 0.65);
    --secondary: hsla(0, 0%, 100%, 0.65);
}

.background {
  background: linear-gradient(0deg, rgba(0,36,17,1) 0%, rgba(9,121,52,0.2) 35%, rgba(255,255,255,1) 100%), url(/assets/images/img_lavoura.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  --webkit-background-size: cover;
  text-align: center;
  height: 100vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.bar-top{
  margin-bottom: 50px;
  background-color:rgba(9,121,52,0.7287289915966386);
  color: white;
}
.btn-bar-top{
  /* border: 0.5px solid white; */
  background-color:rgba(9,121,52,0.75);
  margin-right: 10px;
}
