<div class="background">
    <mat-toolbar class="bar-top">
        <div fxLayoutAlign="center start" style="margin-left: 2%;">
            <mat-icon>assessment</mat-icon>
            <span style="margin-top: -3px;">Comunicação de Perda - PROAGRO</span>
        </div>
        <span class="example-spacer"></span>
        <div fxLayoutAlign="center end">
            <button class="btn-bar-top" mat-button routerLink="perdas">
                Registros de Perda
            </button>
            <button class="btn-bar-top" mat-button routerLink="add">
                Adicionar Perda
            </button>
        </div>
    </mat-toolbar>
    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>
</div>
