/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn {
   background-color: rgba(9,121,52,0.7287289915966386); 
   color: white;
}

.btn:disabled,
.btn[disabled]{
   border: 1px solid #999999;
   background-color: #cccccc;
}

.btn-error{
    background-color: tomato; 
    color: white;
}