@import url("../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css");
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
    background-color: rgba(9, 121, 52, 0.7287289915966386);
    color: white !important;
}

.btn:disabled,
.btn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
}

.btn-error {
    background-color: tomato;
    color: white !important;
}

mat-icon {
    font-family: 'Material Icons' !important;
}

h3{
  font-size: 17px;
}
