<h1 mat-dialog-title> <strong>Registro não salvo</strong></h1>
<div mat-dialog-content>Existem Campos Inválidos</div>
<div mat-dialog-actions fxLayoutAlign="end">
  <button class="btn-error" mat-button mat-dialog-close>Fechar</button>
</div>