<h1 mat-dialog-title><strong>Registro Conflitante</strong></h1>
<mat-dialog-content>
    <p>Existe um registro(em destaque) a <strong>{{dist}}</strong> kms de distância da localização inserida nesse novo registro.<br>
    Você pode cancelar ou alterar os dados desse novo registro.</p>
    <agm-map id="map" [latitude]="lat" [longitude]="lng" (mapReady)="takeMap($event)">
    </agm-map>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button fxLayoutAlign="end" mat-button class="read-register" (click)="readRegistro()" style="border: 1px solid grey !important;">Ver Registro</button>
    <button fxLayoutAlign="end" class="btn-error" mat-button [mat-dialog-close]="true">Cancelar Novo
        Registro</button>
    <button mat-button class="btn" [mat-dialog-close]="false" cdkFocusInitial>Alterar Dados</button>
</mat-dialog-actions>
