<h1 mat-dialog-title>Registro não salvo </h1>
<mat-dialog-content class="">
    <agm-map id="map" [latitude]="lat" [longitude]="lng" (mapReady)="takeMap($event)">
        <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
    </agm-map>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button fxLayoutAlign="end" mat-button mat-dialog-close>Cancelar Registro</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Alterar Dados</button>
</mat-dialog-actions>