agm-map,
#map {
    height: 300px;
    width: 500px;
}

.mat-dialog-title {
    margin-left: 22px;
}

.mat-dialog-content {
    margin: 0px 0px;
    width: 600px;
    text-align: -webkit-center;
}

.mat-dialog-actions[align=end] {
    justify-content: flex-end;
    margin-right: 70px;
}

agm-map-container-inner {
    border: 3px solid #707070;
    border-radius: 10px;
}

