<mat-card class="card-perdas" fxLayoutAlign="center start">
  <!-- <agm-map id="map" [latitude]="lat" [longitude]="lng" (mapReady)="takeMap($event)"> -->
  <agm-map id="map" [latitude]="lat" [longitude]="lng">
    <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
  </agm-map>
  <div class="container-table" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-form-field fxFlex="60" fxLayout="column" fxLayoutGap="20px" fxLayout.xs="column">
        <mat-label>Busca por CPF</mat-label>
        <input type="text" [value]="cpf" matInput mask="000.000.00-00" placeholder="Ex. 123.456.79-10">
      </mat-form-field>
      <div class="input-group-append">
        <button mat-button color="primary" class="btn btn-outline-secondary" type="button" (click)="searchCPF()">
          Buscar
        </button>
      </div>
    </div>
    <mat-table [dataSource]="perdas" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="colheitaData">
        <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.colheitadata | date: 'dd/MM/yyyy' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="colheitaTipo">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.colheitatipo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button (click)="delete(row)" mat-icon-button style="color: rgba(9,121,52,0.7287289915966386);">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="error">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- <mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator> -->
  </div>
</mat-card>

<!-- <div class="col-md-6">
  <h4>Perdas Lista</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let perda of perdas; let i = index" [class.active]="i == currentIndex"
      (click)="setActivePerda(perda, i)">
      {{ perda.nome }}
    </li>
    <li class="list-group-item" *ngFor="let perda of perdas; let i = index" [class.active]="i == currentIndex"
      (click)="setActivePerda(perda, i)">
      {{ perda.cpf }}
    </li>
  </ul>
</div>

<button class="m-3 btn btn-sm btn-danger" (click)="removeAllPerdas()">
  Apagar Tudo
</button>
<div class="col-md-6">
  <div *ngIf="currentPerda">
    <h4>Perda</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentPerda.nome }}
    </div>
    <div>
      <label><strong>CPF:</strong></label> {{ currentPerda.cpf }}
    </div>
    <div>
      <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
    </div>

    <a class="badge badge-warning" routerLink="/perdas/{{ currentPerda.id }}">
      Editar
    </a>
  </div>

  <div *ngIf="!currentPerda">
    <br />
    <p>Por Favor click em um Registro...</p>
  </div>
</div> -->
