<mat-card class="card-perdas" fxLayoutAlign="center start">
  <agm-map id="map" [latitude]="lat" [longitude]="lng" (mapReady)="takeMap($event)">
  </agm-map>
  <div class="container-table" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" class="container-busca" fxLayoutAlign="space-evenly center">
      <h3><strong>Registros de Perda</strong></h3>
      <form [formGroup]="form">
        <mat-form-field fxFlex="80" fxLayout="column" fxLayoutGap="20px" fxLayout.xs="column">
          <mat-label>Busca por CPF</mat-label>
          <input type="text" formControlName="cpf" matInput mask="000.000.00-00" placeholder="Ex. 123.456.79-10">
          <mat-error *ngIf="(form.controls['cpf'].invalid)">
            CPF Inválido!
          </mat-error>
        </mat-form-field>
      </form>
      <div class="input-group-append">
        <button mat-button color="primary" class="btn btn-outline-secondary" type="button" (click)="searchCPF()">
          Buscar
        </button>
      </div>
    </div>
    <div class="mat-elevation-z0">
      <mat-table class="table-perdas" [dataSource]="dataSource">
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cpf | CPF}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="colheitadata">
          <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.colheitadata | date: 'dd/MM/yyyy' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="colheitatipo">
          <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.colheitatipo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button (click)="editPerda(row)" mat-icon-button style="color: rgba(9,121,52,0.7287289915966386);">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deletePerda(row)" mat-icon-button color="error">
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="viewMarker(row)" mat-icon-button color="error" style="color: dodgerblue;">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Sem dados Compatíveis</td>
        </tr>
      </mat-table>
      <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-card>

<!-- <div class="col-md-6">
  <h4>Perdas Lista</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let perda of perdas; let i = index" [class.active]="i == currentIndex"
      (click)="setActivePerda(perda, i)">
      {{ perda.nome }}
    </li>
    <li class="list-group-item" *ngFor="let perda of perdas; let i = index" [class.active]="i == currentIndex"
      (click)="setActivePerda(perda, i)">
      {{ perda.cpf }}
    </li>
  </ul>
</div>

<button class="m-3 btn btn-sm btn-danger" (click)="removeAllPerdas()">
  Apagar Tudo
</button>
<div class="col-md-6">
  <div *ngIf="currentPerda">
    <h4>Perda</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentPerda.nome }}
    </div>
    <div>
      <label><strong>CPF:</strong></label> {{ currentPerda.cpf }}
    </div>
    <div>
      <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
    </div>

    <a class="badge badge-warning" routerLink="/perdas/{{ currentPerda.id }}">
      Editar
    </a>
  </div>

  <div *ngIf="!currentPerda">
    <br />
    <p>Por Favor click em um Registro...</p>
  </div>
</div> -->
